<h2>Últimos Proyectos</h2>
<section id="projects_holder" class="slider">
	<section class="slides">
		
		<article class="slide">
			<div class="box">
				<a href="http://ecotetera.cl" target="_blank" class="image left ecotetera">
				</a>
				<div class="text right">
					<h2>
					<strong>Ecotetera</strong>
					<br>
					Diseño e implementación
					</h2>
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque risus, sed tristique nunc. 
					</p>

					<a class="button" href="http://ecotetera.cl" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a>

				</div>
			</div>
		</article>

		<article class="slide">
			<div class="box">
				<div class="text left">
					<h2>
					<strong>Ayelen</strong>
					<br>
					Diseño e implementación
					</h2>
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque risus, sed tristique nunc. In non ornare nisl, vitae sodales mauris. Aliquam at nunc non tellus fermentum commodo at vitae nulla. Phasellus eget consectetur odio. Donec adipiscing semper odio, ac lobortis ligula rutrum et. 
					</p>

					<a class="button" href="http://ayelenhospedaje.com" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a>

				</div>
				<a href="http://ayelenhospedaje.com" target="_blank" class="image right ayelen">
					
				</a>
				
			</div>

		</article>

		<article class="slide">
			<div class="box">
				<div class="image left offers">
				</div>
				<div class="text right">
					<h2>
					<strong>Offers!</strong>
					<br>
					Diseño e implementación
					</h2>
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque risus, sed tristique nunc. 
					</p>

					<!-- <a class="button" href="http://ecotetera.cl" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a> -->

				</div>
			</div>
		</article>

		<article class="slide">
			<div class="box">
				<div class="text left">
					<h2>
					<strong>Viverelajacion</strong>
					<br>
					Diseño e implementación
					</h2>
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque risus, sed tristique nunc. In non ornare nisl, vitae sodales mauris. Aliquam at nunc non tellus fermentum commodo at vitae nulla. Phasellus eget consectetur odio. Donec adipiscing semper odio, ac lobortis ligula rutrum et. 
					</p>

					<a class="button" href="http://viverelajacion.cl" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a>

				</div>
				<a href="http://viverelajacion.cl" target="_blank"  class="image right viverelajacion">
				</a>
				
			</div>

		</article>
	</section>
	
</section>
