<h2>Últimos Proyectos</h2>
<section id="projects_holder" class="slider">
	<section class="slides">
		
		<article class="slide">
			<div class="box">
				<div class="image right">
					<img src="/images/proyectos/der.png">
				</div>
				<div class="text left">
					<h2>
					<strong>Ayelen</strong>
					<br>
					Diseño e implementación
					</h2>
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque risus, sed tristique nunc. In non ornare nisl, vitae sodales mauris. Aliquam at nunc non tellus fermentum commodo at vitae nulla. Phasellus eget consectetur odio. Donec adipiscing semper odio, ac lobortis ligula rutrum et. 
					</p>

					<a class="button" href="http://ayelenhospedaje.com" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a>

				</div>
			</div>
		</article>

		<article class="slide">
			<div class="box">
				<div class="image left">
					<img src="/images/proyectos/izq.png">
				</div>
				<div class="text left">
					<h2>
					<strong>Viverelajacion</strong>
					<br>
					Diseño e implementación
					</h2>
					
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque risus, sed tristique nunc. In non ornare nisl, vitae sodales mauris. Aliquam at nunc non tellus fermentum commodo at vitae nulla. Phasellus eget consectetur odio. Donec adipiscing semper odio, ac lobortis ligula rutrum et. 
					</p>

					<a class="button" href="http://viverelajacion.cl" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a>

				</div>
			</div>

		</article>
	</section>
	
</section>
