<article class="slide">
	<div class="box">
		<div class="image left ayelen"></div>
		<div class="text right">
			<h2>
				<strong>Ayel&eacute;n</strong>
				<br>
				Diseño y desarrollo web
			</h2>
			
			<!-- <div class="quote">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque </p>
			</div> -->
			<p>
				Ayel&eacute;n, un hospedaje ubicado en <strong>Villa Alegre</strong> que se caracteriza por ser un lugar de tranquilidad, descanso y disfrute, confi&oacute; en nosotros para que plasm&aacute;ramos este sentir en su sitio web. 
			</p>
			
			<a class="button" href="http://ayelenhospedaje.com" target="_blank">
				<span class="label">Visitar Sitio</span>
			</a>
		</div>
	</div>

</article>