<article class="slide">
	<div class="box">
		<a href="http://ecotetera.cl" target="_blank" class="image left ecotetera">
		</a>
		<div class="text right">
			<h2>
				<strong>Ecotetera</strong>
				<br>
				Diseño e implementación
			</h2>
			
			<p>
				Ecotetera Coffee&Tea es un nuevo concepto en servicio de cafetería entregando a sus clientes nuevos sabores y experiencias.
				<br />
				El sitio se creó en lo inicios de este exitoso emprendimiento Talquino.
			</p>

			<div class="quote">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque </p>
			</div>

			<a class="button" href="http://ecotetera.cl" target="_blank">
				<span class="label">Visitar Sitio</span>
			</a>

		</div>
	</div>
</article>