<article class="slide">
	<div class="box">
		<div class="image right offers"></div>
		<div class="text left">
			<h2>
				<strong>Offers</strong>
				<br>
				Work in Progress
			</h2>	
			<p>
				Offers es una nueva <strong>Startup Regional</strong> de la que fuimos invitados a participar como el equipo t&eacute;cnico.
				Estamos diseñando y desarollando la aplicación que lleva esta idea a la realidad.
			</p>
			<!-- <div class="quote">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque </p>
			</div> -->
					<!-- <a class="button" href="http://ecotetera.cl" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a> -->
		</div>
	</div>
</article>