<article class="slide">
	<div class="box">
		<div class="image left offers">
		</div>
		<div class="text right">
			<h2>
				<strong>Offers!</strong>
				<br>
				Proyección, diseño y desarrollo
			</h2>
			
			<p>
				<strong>Work in Progress!</strong>
				<br />
				Offers es una nueva startup regional de la que fuimos invitados a participar como el equipo técnico.
				Hemos diseñado y desarollado la aplicación que lleva esta idea a la realidad. 

			</p>

			<div class="quote">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque </p>
			</div>
					<!-- <a class="button" href="http://ecotetera.cl" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a> -->

				</div>
			</div>
		</article>