<article class="slide">
	<div class="box">
		<div class="image left offers">
		</div>
		<div class="text right">
			<h2>
				<strong>Offers!</strong>
				<br>
				Diseño e implementación
			</h2>
			
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque risus, sed tristique nunc. 
			</p>

					<!-- <a class="button" href="http://ecotetera.cl" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a> -->

				</div>
			</div>
		</article>