<article class="slide">
	<div class="box">
		<div class="image left sibib">
		</div>
		<div class="text right">
			<h2>
				<strong>SIBIB</strong>
				<br>
				Work in Progress
			</h2>
			
			<p>
				El Sistema de Bibliotecas de la Universidad Católica del Maule a dejado en nuestras manos la creación de su nuevo sitio web y administración de contenidos.
				En busca de modernización y usabilidad para entregar a sus estudiantes el mejor servicio.
			</p>

			<!-- <a class="button" href="http://ecotetera.cl" target="_blank">
				<span class="label">Visitar Sitio</span>
			</a> -->

		</div>
	</div>
</article>