<article class="slide">
	<div class="box">
		<div class="image left sibib">
		</div>
		<div class="text right">
			<h2>
				<strong>SIBIB UCM</strong>
				<br>
				Work in Progress
			</h2>
			<p>
				<strong>El Sistema de Bibliotecas de la Universidad Cat&oacute;lica del Maule</strong> a dejado en nuestras manos la creaci&oacute;n de su nuevo sitio web y administraci&oacute;n de contenidos.<br />
				En busca de modernizaci&oacute;n y usabilidad para entregar a sus estudiantes el mejor servicio.
			</p>
			<!-- <div class="quote">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque </p>
			</div> -->

			<!-- <a class="button" href="http://ecotetera.cl" target="_blank">
				<span class="label">Visitar Sitio</span>
			</a> -->
		</div>
	</div>
</article>