<article class="slide">
	<div class="box">
		<div class="image right sotodelrio"></div>
		<div class="text left">
			<h2>
				<strong>SotoDelRio</strong>
				<br>
				Identidad Corporativa
			</h2>	
			<p>
				SotoDelR&iacute;o, empresa dedicada al rubro de la contrucci&oacute;n ubicada en <strong>Talca</strong>, nos encarg&oacute; el diseño de su identidad corporativa. <br /> &Eacute;sta deb&iacute;a representar el trabajo <strong>prolijo y profesional</strong> que realizan en cada una de sus creaciones.
			</p>
			<!-- <div class="quote">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque </p>
			</div> -->
					<!-- <a class="button" href="http://ecotetera.cl" target="_blank">
						<span class="label">Visitar Sitio</span>
					</a> -->
		</div>
	</div>
</article>