<article class="slide">
	<div class="box">
		<div class="text left">
			<h2>
				<strong>Viverelajacion</strong>
				<br>
				Diseño y desarrollo
			</h2>
			
			<!-- <div class="quote">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque </p>
			</div> -->
			
			<p>
				La clínica kinesiológica Viverelajacion buscaba visibilizar y dar mayor utilidad a su sitio web. Nosotros le entregamos un sitio moderno y autoadministrable, donde cualquier persona de su equipo pudiera actualizar el contenido.
			</p>


			

			<a class="button" href="http://viverelajacion.cl" target="_blank">
				<span class="label">Visitar Sitio</span>
			</a>

		</div>
		<a href="http://viverelajacion.cl" target="_blank"  class="image right viverelajacion">
		</a>
		
	</div>

</article>