<article class="slide">
	<div class="box">
		<div class="image right viverelajacion"></div>
		<div class="text left">
			<h2>
				<strong>Vive Relajaci&oacute;n</strong>
				<br>
				Diseño y desarrollo web
			</h2>
			<!-- <div class="quote">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu faucibus urna. Vestibulum in urna ante. Nam id venenatis urna. Integer eget pellentesque </p>
			</div> -->
			
			<p>
				La cl&iacute;nica kinesiol&oacute;gica Vive Relajaci&oacute;n buscaba visibilizar y dar mayor utilidad a su sitio web.<br />Nosotros le entregamos un sitio <strong>moderno y autoadministrable,</strong> donde cualquier persona de su equipo pudiera actualizar el contenido.
			</p>
			<a class="button" href="http://viverelajacion.cl" target="_blank">Visitar Sitio
			</a>
		</div>
	</div>

</article>