#proyectos {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#fff;
	#projects_holder{
		height: 100%;
		padding: 0;
		border: 0;
		width:100%;
		// margin-right:3%;
		// margin-left:3%;
		margin-top:30px;
		@include gridle_state(giant){
			width:1400px;
			margin-left: auto;
			margin-right: auto;
		}
		.slider{
			padding:0;
		}
		.slider-arrow {
			background-image: url(/images/glide-arrows.png);
			width: 17px;
			height: 28px;
			display: block;
			padding: 0;
			margin-bottom: 0;
			
		}
		.slider-arrow--right {
			margin-right: -20px;
			background-position: -17px 0;
		}

		.slider-arrow--left {
			margin-left: -20px;
			background-position: 0 0;
		}

		.box{
			// width:100%;
			height: 100%;
			position:relative;
			margin:0;
			padding:0;
			.image{
				@include gridle(8);
				@include gridle(7, tablet);
				@include gridle(12, mobile);
				z-index:1;
				height:670px;
				@include gridle_state(tablet){
					height: 500px;
				};
				@include gridle_state(mobile){
					height: 200px;
				};
				&.left{
					float: left;
				}
				&.right{
					float: right;	
				}
				&.ecotetera{
					background: #fff url('#{$baseurl}/images/proyectos/ecotetera.jpg') no-repeat center left;
					@include gridle_state(tablet mobile){
						background-position: center center;
					};
					@include gridle_state(mobile){
						background: #fff url('#{$baseurl}/images/proyectos/ecotetera-small.jpg') no-repeat;
						background-size: cover;
					}
				}
				&.ayelen{
					background: #fff url('#{$baseurl}/images/proyectos/ayelen.jpg') no-repeat center left;
					@include gridle_state(tablet mobile){
						background-position: center center;
					};
					@include gridle_state(mobile){
						background: #fff url('#{$baseurl}/images/proyectos/ayelen-small.jpg') no-repeat;
						background-size: cover;
					}
				}
				&.viverelajacion{
					background: #fff url('#{$baseurl}/images/proyectos/viverelajacion.jpg') no-repeat center right;
					@include gridle_state(tablet mobile){
						background-position: center center;
					};
					@include gridle_state(mobile){
						background: #fff url('#{$baseurl}/images/proyectos/viverelajacion-small.jpg') no-repeat;
						background-size: cover;
					}
				}
				&.offers{
					background: #fff url('#{$baseurl}/images/proyectos/offers.jpg') no-repeat center right;
					@include gridle_state(tablet mobile){
						background-position: center center;
					};
					@include gridle_state(mobile){
						background: #fff url('#{$baseurl}/images/proyectos/offers-small.jpg') no-repeat;
						background-size: cover;
					}
				}
				&.sibib{
					background: #fff url('#{$baseurl}/images/proyectos/sibib.jpg') no-repeat center left;
					@include gridle_state(tablet mobile){
						background-position: center center;
					};
					@include gridle_state(mobile){
						background: #fff url('#{$baseurl}/images/proyectos/sibib-small.jpg') no-repeat;
						background-size: cover;
					}
				}
				&.sotodelrio{
					background: #fff url('#{$baseurl}/images/proyectos/sotodelrio.jpg') no-repeat center right;
					@include gridle_state(tablet mobile){
						background-position: center center;
					};
					@include gridle_state(mobile){
						background: #fff url('#{$baseurl}/images/proyectos/sotodelrio-small.jpg') no-repeat;
						background-size: cover;
					}
				}
			}
			.text{
				@include gridle(4);
				@include gridle(5, tablet);
				@include gridle(12, mobile);
				z-index:90;
				padding: 0 40px;
				background-color:#fff;
				@include gridle_state(mobile tablet) {
					padding: 0 15px;
				}
				h2{
					@include open-sans(300, 18px,$gris);
					margin-bottom: 0;
					text-align: left;
					strong{
						@include open-sans(800, 25px,$purple);
					}
					@include gridle_state(mobile tablet) {
			        	font-size: 18px;
			        	margin-top: 20px;
			        }
			        @include gridle_state(mobile) {
			        	text-align: center;
			        }
				}
				p{
					@include lato(400, 14px, $gris);
					line-height: 1em;
			        text-transform: none;
			        strong {
			        font-weight: 700;
			        }
			        @include gridle_state(mobile) {
			        	margin-top: 5px;
			        }
				}
				.quote{
					background: url('/images/comillas1.png') no-repeat left top, url('/images/comillas2.png') no-repeat right bottom;
					padding:0;
		            height:120px;
		            p{
		            	top: 35%;
						position: relative;
						width: 90%;
						margin-left:5%;
						margin-right: 5%;
		            }
				}
				a.button{
					@include lato(400, 18px, lighten($gris, 30%));
					margin-top: 10px;
					max-width: 150px;
					position: relative;
					display: block;
					border: 2px lighten($gris, 30%) solid;
					margin-right: auto;
					line-height: 2em;
					padding: 2px;
					text-align: center;
					text-decoration: none;
					@include gridle_state(mobile) {
						margin: 10px auto 25px auto;
					}
					@include transition(0.4s);
					&:hover {
						border: 2px $gris solid;
						color: $gris;
					}
				}
			}
		}
	}
}