#proyectos {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	margin-bottom: 70px;
	background-color:#fff;
	#projects_holder{
		height:720px;
		padding: 0;
		border: 0;
		width:100%;
		// margin-right:3%;
		// margin-left:3%;
		margin-top:30px;
		.slider{
			height:100%;
			padding:0;
		}
		.slider-arrow {
			background-image: url(/images/glide-arrows.png);
			width: 17px;
			height: 28px;
			display: block;
			padding: 0;
			margin-bottom: -140px;
		}
		.slider-arrow--right {
			margin-right: -20px;
			background-position: -17px 0;
		}

		.slider-arrow--left {
			margin-left: -20px;
			background-position: 0 0;
		}

		.box{
			// width:100%;
			height: 100%;
			position:relative;
			margin:0;
			padding:0;
			.image{
				@include gridle(8);
				@include gridle(8, mobile);
				z-index:1;
				height:700px;
				&.left{
					margin-left: -10px;
					img{
						margin-left: -10px;
					}
				}
				&.right{
					margin-right: -10px;	
				}
				&.ecotetera{
					background: #fff url('#{$baseurl}/images/proyectos/ecotetera.png') no-repeat center center;
				}
				&.ayelen{
					background: #fff url('#{$baseurl}/images/proyectos/ayelen.png') no-repeat center center;	
				}
				&.viverelajacion{
					background: #fff url('#{$baseurl}/images/proyectos/viverelajacion.png') no-repeat center center;	
				}
				&.offers{
					background: #fff url('#{$baseurl}/images/proyectos/offers.png') no-repeat center center;	
					margin-left:-6%;
				}
				&.sibib{
					background: #fff url('#{$baseurl}/images/proyectos/sibib.png') no-repeat center center;	
				}
			}
			.text{
				@include gridle(4);
				@include gridle(4, tablet);
				@include gridle_hide( mobile);
				z-index:90;
				background-color:#fff;
				height:100%;
				h2{
					@include open-sans(800, 25px,$purple );
					text-transform: uppercase;
					text-align: left;
					strong{
						color:$gris;
					}
					@include gridle_state(mobile table) {
			        	font-size: 22px;
			        }

				}
				p{
					font-family: 'Pontano Sans', Helvetica, Arial, sans-serif;
				    font-size: 14px;
				    color:$gris;
					line-height: 14x;
					@include gridle_state(mobile table) {
			        	font-size: 12px;
			        }
			        text-align:left;
			        text-transform: none;
			        strong{
			        	font-family: 'Roboto', sans-serif;
			        	font-weight: 700;
			        }

				}
				.quote{
					background: url('/images/comillas1.png') no-repeat left top, url('/images/comillas2.png') no-repeat right bottom;
					padding:0;
		            height:120px;
		            p{
		            	top: 35%;
						position: relative;
						width: 90%;
						margin-left:5%;
						margin-right: 5%;
		            }
				}
				a.button{
					top:5%;
					color:$gris;
					width:200px;
					height:50px;
					box-sizing:border-box;
					outline:none;
					position:relative;
					display:block;
					border:1px #222 dotted;
					margin-left:25%;
					margin-right:25%;
					@include transition(0.4s);
					@include gridle_state(mobile table) {
			        	width:120px;
			        	margin-left:2%;
			        }
					&:hover {
						background-color: darken(#fff, 10%);
					}
					
					.label{
						position:absolute;
						top:0;
						left:0;
						display:block;
						width: 100%;
						line-height:50px;
						padding: 0 45px;
						font-size: 18px;
						font-family: 'Pontano Sans', Helvetica, Arial, sans-serif;
						@include gridle_state(mobile table) {
				        	font-size:16px;
				        	left:-25px;

				        }
					}
				}
			}
		}
	}
}