//frameworks

@import "compass";
@import "../_components/gridle/sass/gridle/gridle";

//mixins

@import "settings";
@import "mixins";
@import "color";
@include gridle_generate_classes ( );
@include gridle_register_state( "tablet" , 401px , 730px );
@include gridle_register_state( "giant" , 1300px , null );

//style
body {
    margin: 0;
}

//includes
@import "proyectos";
@import "layout";


.hacemos {
    @include width;
    padding-bottom: 30px;
    h2 {
    	padding-top: 55px;
    	@include gridle_state(mobile tablet) {
    		font-size: 20px;
    		padding: 55px 20px 0 20px;
    	}
    }
    &.quote{
        background: url('/images/comillas1.png') no-repeat left top, url('/images/comillas2.png') no-repeat right bottom;
    }
}


.features {
    padding-left: 0;
    & li{
        @include open-sans(800, 15px, $purple);
        @include gridle(4);
        margin-bottom: 60px;
        @include gridle(12, mobile);
        @include gridle_state(mobile) {
            margin-bottom: 35px;
        }
    }
}

.features li:last-child {
    @include gridle_state(mobile) {
    margin-bottom: 80px;
    }
}

#img-corp{
    @include img-services('#{$baseurl}/images/corp.jpg');
}

#img-web{
    @include img-services('#{$baseurl}/images/web.jpg');
}

#img-proy{
    @include img-services('#{$baseurl}/images/proy.jpg');
}

.container{
    clear: both;
    padding-bottom: 30px;
    padding-top: 30px;
    background: #f7f5f6;
    // -webkit-box-shadow:inset 3px 0px 10px rgba(0,0,0,.3);
    // -moz-box-shadow:inset 3px 0px 10px rgba(0,0,0,.3);
    box-shadow:inset 3px 0px 10px rgba(0,0,0,.3);
}

.group {
    height: 300px;
    padding: 40px 0;
    @include gridle_state(mobile) {
        padding-top: 0;
    }
}

.services {
    @include width;
}

.services h3 {
    @include open-sans(800, 20px, $purple);
    text-align: left;
    padding-top: 80px;
    margin-bottom: 0;
    @include gridle_state(mobile) {
        padding-top: 0;
        text-align: center;
    }
    @include gridle_state(tablet) {
        padding-top: 0;
        text-align: center;
    }
}

.services hr {
    clear: both;
    border: none;
    border-top: 1px solid #dde5ed;
    border-bottom: 1px solid #fff;
}

.text {
    @include gridle(6);
    @include gridle(12, mobile);
    @include gridle(12, tablet);
    @include gridle_state(tablet) {
        padding: 0 10%;
    }
}

.text li:last-child {
    @include gridle_state(mobile) {
    margin-bottom: 40px;
    }
    @include gridle_state(tablet) {
    margin-bottom: 40px;
    }
}

.corp {
    @include img-services-ext('#{$baseurl}/images/img-corp.png');
    @include gridle(6);
    @include gridle(12, mobile);
    @include gridle(12, tablet);
}

.web-mobile {
	@include img-services-ext('#{$baseurl}/images/img-web.png');
	@include gridle_hide();
	@include gridle_show(mobile tablet);
	@include gridle(12, mobile tablet);
	@include gridle_state(mobile) {
		margin-bottom: 30px;
	}
}

.web {
    @include img-services-ext('#{$baseurl}/images/img-web.png');
    @include gridle(6);
	@include gridle_hide(mobile tablet);
    @include gridle_state(mobile) {
        margin-bottom: 30px;
    }
}

.proy {
    @include img-services-ext('#{$baseurl}/images/img-proy.png');
    @include gridle(6);
    @include gridle(12, mobile);
    @include gridle(12, tablet);
}



#nosotros {
    @include width;
    clear: both;
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
    }
}

.group2 {
    @include gridle(6);
    @include gridle(12, mobile);
}

.profile {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul.redes-sociales {
    margin-left: auto;
    margin-right: auto;
    display: table;
    li{
        float: left;
        margin-bottom: 40px;
        padding: 2px;
        list-style: none;
        a img{
            float: left;
            width: 34px;
            opacity: 1;
            -ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=100)";
            // -webkit-transition: opacity 0.25s ease-in-out;
            // -moz-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
        }
        a:hover img{
            opacity: 0.75;
            -ms-filter: "progid_DXImageTransform.Microsoft.Alpha(Opacity=75)";
        }
    }
}

.contacto {
    clear: both;
    background: $purple;
    padding: 20px;
    p {
    @include open-sans(300, 28px, #fff);
    text-transform: none;
    margin-bottom: 10px;
    }
    a {
        @include open-sans(800, 36px, #fff);
        border: 2px solid #fff;
        text-decoration: none;
        margin: 0 auto 30px;
        padding: 15px 30px;
        display: block;
        max-width: 300px;
        @include transition(0.4s);
        @include gridle_state(mobile) {
        	font-size: 30px;
        }
    }
    a:hover {
        background-color: #fff;
        color: $purple;
    }
}


